:root {
    --bg: white;
    --bgSoft: #2d2b42;
    --textSoft: #e5e5e5;
    --text: black;
    --labcolor: #070bff;
    --degrade: linear-gradient(90deg, var(--labcolor) 0%, rgba(0, 212, 255, 1) 100%);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MinhaFonte', sans-serif;
  }
  
  @font-face {
    font-family: 'MinhaFonte';
    src: url('../assets/fonts/Geologica_Auto-Light.ttf');
    font-weight: 100;
    font-style: normal;
  }